.navbar{
  background-color: #a5d1eb;
  margin-bottom: 1%; 
  
}

.text{
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-inline: 5%;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.text:hover{
  color: rgb(107, 159, 255);
  transform: scale(1.5);
  text-decoration: underline;
}

/* TODO: add NavBar before each element inside NavBar component
Check all CSS files to match names */
/* TODO: Add responsive design for nav bar, hamburger nav on phone */