.SearchForm{
  width: 60%;
  justify-content: center;
  margin: 10px auto;

}
.search{
  background-color: rgb(255, 153, 0);
  transition: all .2s ease-in-out;
}
.search:hover{
  transform: scale(1.03);
}

.searchBtn{
  color:lightskyblue;
  transition: all .2s ease-in-out;
}

.searchBtn:hover{
  transform: scale(1.40);
}